page-start {

  .logo {
    background-image: url('../../assets/Logo.svg');
    width: 100vw;
    height: 50vw;
    background-repeat: no-repeat;
    background-position: center;
  }

  .bg {
    background-image: url('../../assets/bg.png');
    background-size: cover;
    background-position: center;
  }

  .title {
    font-size: 36px;
    text-align: center;
    color: #fff;
  }

  .bottom-btn {
    position: absolute;
    bottom: 5%;
    text-align: center;
    width: 90%;
  }

  button {
    margin: 0 0 10px 0 !important;
    font-weight: bold;
    color: #fff !important;
  }

  button:first-of-type {
    margin: 0 !important;
  }
}
