<ion-header swipeAll (swipedown)="dismiss($event)">
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="flat card-background-page">
  <p class="title">Neuköllnies</p>

  <div class="flatmates">
    <div class="flatmate">
      <div class="head" id="maja"></div>
      <p>Maja</p>
    </div>
    <div class="flatmate">
      <div class="head" id="karlo"></div>
      <p>Karlo</p>
    </div>
  </div>

  {{flat}}
  <ion-slides class="flat-slider" slidesPerView="1.5" *ngFor="let f of flat">
    <ion-slide *ngFor="let i of f.imgs | keys">
      <ion-card style="background-image: url('../../../assets/{{i}}.jpg');">
      </ion-card>
    </ion-slide>
  </ion-slides>

  <div id="map"></div>
  <button ion-button color="cta" class="floatingButton" mode="ios" full (click)="presentApplication($event)">Apply</button>

</ion-content>
