page-flat {

  .header-img {
    height: 50vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-image: url('../../assets/1.jpg');
  }

  .title-cta {
    font-size: 12px;
    color: red;
    text-align: right;
  }

  #map2 {
    height: 20vh;
    background-color: rgba(0,0,0,0) !important;
    border-radius:10%;
    margin: 10px auto;
  }
}
