<!--<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>-->

<ion-content no-bounce>
  <ion-slides pager>

    <ion-slide *ngFor="let q of metaQuestions; let i = index">
      <p class="question">{{q.question}}</p>

      <ion-item *ngIf="q.answerLabels.length <= 1">
        <ion-input type={{q.answerType}} [(ngModel)]="a[0].meta[i]" placeholder={{q.answerLabels[0]}}></ion-input>
        <button clear item-right (click)="move(0, 'Klosterstraße 62')"><ion-icon name="arrow-forward"></ion-icon></button>
      </ion-item>

      <div *ngIf="q.answerLabels.length == 2">
        <ion-card class="answer" (click)="answer(i, q.answerLabels[0])">
          <ion-card-content>
            {{q.answerLabels[0]}}
          </ion-card-content>
        </ion-card>

        <ion-card class="answer" (click)="answer(i, q.answerLabels[1])">
          <ion-card-content>
            {{q.answerLabels[1]}}
          </ion-card-content>
        </ion-card>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
