<ion-content class="card-background-page" no-bounce>
  <ion-slides direction="vertical" initialSlide="1">
    <ion-slide class="top">
      <p class="name title">Hey Karlo!</p>


      <ion-card class="edit-wg" (click)="openEditFlat()">
        <div class="wg-ad"></div>
        <ion-card-content>
          <p>Finalize your listing</p>
          <p>Your room is 70% done</p>
        </ion-card-content>
      </ion-card>


      <p class="subtitle">Your Conversations<span>See All</span></p>
      <ion-slides slidesPerView="1.5" class="message-slider">
        <ion-slide *ngFor="let a of applicants" (click)="presentPeopleModal()">
          <div class="head-img small" id="karlo"></div>
          <ion-card class="message">
            <div>{{a.name}}</div>
            <div>Hey Karlo, I really love the room! Do you wanna hang...</div>
            <span class="occupation">12th January</span>
          </ion-card>
        </ion-slide>
      </ion-slides>


      <p class="title bottom-arrow" (click)="move(1)"><ion-icon name="arrow-up"></ion-icon></p>
    </ion-slide>

    <ion-slide>
      <ion-slides swipeAll (swipedown)="swipe($event)" class="flat-slider">

        <ion-slide *ngFor="let f of flats" swipeAll (swipeup)="presentFlatModal(f)" >
          <p class="title" (click)="move(0)"><ion-icon name="arrow-down"></ion-icon></p>
          <ion-card (click)="presentFlatModal(f)">
            <img src="assets/{{f.imgs[0]}}.jpg"/>
            <div class="card-title">{{f.location}}</div>
            <div class="card-subtitle">with {{f.people[0]}} and {{f.people[1]}}</div>
          </ion-card>
        </ion-slide>

      </ion-slides>
    </ion-slide>
  </ion-slides>
</ion-content>
