page-home {

  .flat-slider {
    height: 100vh;
  }

  ion-card {
    border-radius: 3% !important;
  }

  .subtitle span {
    color: lightgray;
    font-size: 12px;
    margin: 0 0 0 15px;
  }

  .top {
    align-items: flex-start;
  }

  .name {
    text-align: left;
  }

  .bottom-arrow {
    position: absolute;
    bottom: 2%;
    display: block;
    margin: 0 auto;
    width: 100%
  }

  .message-slider {
    height: 180px;
  }

  .message-slider ion-slide {
    height: 180px !important;
  }

  .message-slider ion-slide ion-card {
    height: 30vw;
    width: 60vw;
    border-radius:10% !important;
  }

  .wg-ad {
    height: 14vh;
    background-image: url('../../assets/1.jpg');
    background-position: center;
    background-size:cover;

    .card-title {
      top: 75%;
    }
  }

  .edit-wg {

    p {
      font-size: 12px;
      text-align: left;
    }
    p:first-child {
      font-weight: bold;
    }
  }

  .edit-wg:after {
    content:'';
    width:70%;
    height:12px;
    background:red;
    position:absolute;
    bottom:-4px;
    left: 0;
  }

  .message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    font-size: 12px;
    text-align: left;
  }

  .message div:first-child {
    font-weight: bold;
    margin: 0 0 5px 0;
  }


  .occupation {
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: #b1b1b1;
    font-size: 12px;
  }
}
