<ion-content class="card-background-page" no-bounce>
  <ion-slides direction="vertical" initialSlide="1">
    <ion-slide class="top">
      <p class="name title">Hey Karlo</p>
      <ion-card class="wg-ad">
        <div class="card-title">"Neuköllnies"</div>
      </ion-card>

      <ion-card>
        <ion-list>
          <ion-item>
            <button *ngIf="!adOnline" ion-button clear>Add your fantastic room</button>
            <button *ngIf="adOnline" ion-button clear>Edit your fancy room</button>
          </ion-item>
          <ion-item>
            <button *ngIf="adOnline" ion-button clear>Add your kick-ass flatmates</button>
          </ion-item>
        </ion-list>
      </ion-card>

      <p class="subtitle">Messages</p>
      <ion-slides slidesPerView="3" class="message-slider">
        <ion-slide *ngFor="let a of applicants" (click)="presentPeopleModal()">
          <ion-card class="message">
            <div class="fit-circle">{{a.name}}</div>
            <span class="age">
              <span id="age">{{a.age}}</span>
              <span>years<br>old</span>
            </span>
            <span class="occupation">{{a.job}}</span>
          </ion-card>
        </ion-slide>
      </ion-slides>


      <p class="title bottom-arrow" (click)="move(1)"><ion-icon name="arrow-up"></ion-icon></p>
    </ion-slide>

    <ion-slide>
      <ion-slides swipeAll (swipedown)="swipe($event)" class="flat-slider">

        <ion-slide *ngFor="let f of flats" swipeAll (swipeup)="presentFlatModal(f)" >
          <p class="title" (click)="move(0)"><ion-icon name="arrow-down"></ion-icon></p>
          <ion-card (click)="presentFlatModal(f)">
            <img src="assets/{{f.imgs[0]}}.jpg"/>
            <div class="card-title">{{f.location}}</div>
            <div class="card-subtitle">with {{f.people[0]}} and {{f.people[1]}}</div>
          </ion-card>
        </ion-slide>

      </ion-slides>
    </ion-slide>
  </ion-slides>
</ion-content>
