// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-card {
  border-radius: 10% !important;
}

.gradient {
  background: rgba(255, 109, 86, 1);
  background: -moz-linear-gradient(left, rgba(255, 109, 86, 1) 0%, rgba(255, 82, 117, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 109, 86, 1)), color-stop(100%, rgba(255, 82, 117, 1)));
  background: -webkit-linear-gradient(left, rgba(255, 109, 86, 1) 0%, rgba(255, 82, 117, 1) 100%);
  background: -o-linear-gradient(left, rgba(255, 109, 86, 1) 0%, rgba(255, 82, 117, 1) 100%);
  background: -ms-linear-gradient(left, rgba(255, 109, 86, 1) 0%, rgba(255, 82, 117, 1) 100%);
  background: linear-gradient(to right, rgba(255, 109, 86, 1) 0%, rgba(255, 82, 117, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6d56', endColorstr='#ff5275', GradientType=1);
}

.title {
  font-size: 24px;
  height: 5vh;
  margin: 0;
  margin: 20px 0 10px 10px;
  font-weight: bold;
}

.subtitle {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  //margin: 20px 0 10px 10px;
}


.head-img {
  display: inline-block;
  border-radius: 100%;
  vertical-align: top;

  &.small {
    margin: 0 0 0 12px;
    width: 12vw;
    height: 12vw;
    display: flex;
  }
  &.medium {
    width: 18vw;
    height: 18vw;
    margin: 0 15px 0 0;
  }
}

.head-img {
  &#karlo {
    background-image: url('../assets/karlo.jpg');
    background-position: center;
    background-size: cover;
  }
  &#empty {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-style: dashed;
    font-size: 36px;
    color: red;
    text-align: center;
    vertical-align: center;
    font-weight: 200;
  }
}

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 85%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 93%;
    width: 100%;
    color: #fff;
  }

  .card-subtitle, .card-title {
    text-shadow: 4px 2px 15px rgba(125, 125, 125, 1);
  }

  .modal-wrapper {
    position: absolute;
    overflow: hidden;
    max-width: 280px;
    border-radius: 2px;
    width: 80vw;
    height: 50vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 0;
    box-shadow: 0 16px 20px rgba(0,0,0,.4);
    background-color: #fafafa;
  }

}
